@CHARSET "ISO-8859-1";
body{
	background-image: url("/img/DMDDImage.png");
	background: #141414;
	margin:0;
	font-family: Candara;
	color: #eee;
	font-size: 30px;
	letter-spacing: 0.1em;
	padding: 20px;
}

 header {
	background: #0d0d0d;
	padding: 20px;
	text-align: center;
}

h2 a {
	font-size: 18px;
	text-decoration: none;
}
h2 a:link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

/* visited link */
h2 a:visited {
  color: grey;
  font-size: 18px;
  text-decoration: none;
}

/* mouse over link */
h2 a:hover {
  color: hotpink;
  font-size: 18px;
  text-decoration: none;
}

/* selected link */
h2 a:active {
  color: hotpink;
  font-size: 18px;
  text-decoration: none;
}


fieldset {
	padding : 20px;
	margin: 20px 0;
	border: 3px solid #141414;
}
th {
	padding : 20px;
	margin: 20px 0;
}
legend {
	color: #eee;
	padding : 10px;
	font-size : 18px;
	letter-spacing : 0.1em;
}

input[type="text"] {
	
	background-color: #eee;
	font-size: 16px;
	color: #141414;
}

input[type="submit"]{
	background: #eee;
	padding: 15px;
	color: #141414;
	font-size: 20px;
	letter-spacing: 0.1em;
	border-radius: 4px;
	border:0;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
	width: 280px;
}
input[type="submit"]:active {
	background: #hotpink;
color: #141414;
}
